# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Django
*.log
db.sqlite3
media/
# staticfiles se sube para que Vercel sirva el CSS correctamente

# Variables de entorno — NUNCA subir esto
.env
*.env

# IDEs
.vscode/
.idea/
*.swp
*.swo
